snippet "comme?n?t?" "Multiline comment" rb
/* $1 */
$0
endsnippet

snippet "stag?e?" "Job stage" rb
stage ("$1") {
	$2
}$0
endsnippet

snippet "steps?" "Stage steps" rb
steps {
	$1
}$0
endsnippet

snippet "scri?p?t?" "Groovy script block" rb
script {
	$1
}$0
endsnippet
